body {
    background: rgb(70, 80, 74);
  }
  
  .container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 1000px;
    width: 100%;
    margin: auto;
  }
  .form {
    
    background: #fff; 
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px ;
    border-radius: 10px;
  }
  pre {
    width: 70%;
    color: #fff;
    font-size: larger;
  }
  
  button {
    background: #0563b4 !important;
    color: aliceblue;
    font-size: 16px;
    padding: 5px;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    width: 70px;
    margin: 3px;
  }
  p {
    color: red;
  }

  .inputbox {
    padding: 10px;
    margin-bottom: 7px;
    border-radius: 9px;


    font-size: 16px;
    font-weight: bold;
    background: #eee;
  }
